//! **************************************************************************
// Written by: Map O.87xd on Wed Aug 03 08:56:08 2016
//! **************************************************************************

SCHEMATIC START;
COMP "push_button1_i" LOCATE = SITE "P89" LEVEL 1;
COMP "push_button2_i" LOCATE = SITE "P92" LEVEL 1;
COMP "rot_enc1_i<0>" LOCATE = SITE "P91" LEVEL 1;
COMP "rot_enc1_i<1>" LOCATE = SITE "P90" LEVEL 1;
COMP "rot_enc2_i<0>" LOCATE = SITE "P97" LEVEL 1;
COMP "rot_enc2_i<1>" LOCATE = SITE "P2" LEVEL 1;
COMP "blue_o<0>" LOCATE = SITE "P81" LEVEL 1;
COMP "blue_o<1>" LOCATE = SITE "P85" LEVEL 1;
COMP "blue_o<2>" LOCATE = SITE "P86" LEVEL 1;
COMP "nseven_seg_sel_o<0>" LOCATE = SITE "P54" LEVEL 1;
COMP "nseven_seg_sel_o<1>" LOCATE = SITE "P55" LEVEL 1;
COMP "nseven_seg_sel_o<2>" LOCATE = SITE "P59" LEVEL 1;
COMP "nseven_seg_sel_o<3>" LOCATE = SITE "P60" LEVEL 1;
COMP "nseven_seg_sel_o<4>" LOCATE = SITE "P61" LEVEL 1;
COMP "nseven_seg_sel_o<5>" LOCATE = SITE "P62" LEVEL 1;
COMP "din_i" LOCATE = SITE "P37" LEVEL 1;
COMP "clock" LOCATE = SITE "P38" LEVEL 1;
COMP "mck_o" LOCATE = SITE "P28" LEVEL 1;
COMP "ncs_o" LOCATE = SITE "P27" LEVEL 1;
COMP "reset" LOCATE = SITE "P4" LEVEL 1;
COMP "sdout_o" LOCATE = SITE "P17" LEVEL 1;
COMP "nseven_seg_leds_o<0>" LOCATE = SITE "P43" LEVEL 1;
COMP "nseven_seg_leds_o<1>" LOCATE = SITE "P44" LEVEL 1;
COMP "nseven_seg_leds_o<2>" LOCATE = SITE "P47" LEVEL 1;
COMP "nseven_seg_leds_o<3>" LOCATE = SITE "P48" LEVEL 1;
COMP "nseven_seg_leds_o<4>" LOCATE = SITE "P49" LEVEL 1;
COMP "nseven_seg_leds_o<5>" LOCATE = SITE "P50" LEVEL 1;
COMP "nseven_seg_leds_o<6>" LOCATE = SITE "P53" LEVEL 1;
COMP "bclk_o" LOCATE = SITE "P35" LEVEL 1;
COMP "h_sync_o" LOCATE = SITE "P87" LEVEL 1;
COMP "dout_o" LOCATE = SITE "P23" LEVEL 1;
COMP "mode_o" LOCATE = SITE "P32" LEVEL 1;
COMP "sclk_o" LOCATE = SITE "P30" LEVEL 1;
COMP "red_o<0>" LOCATE = SITE "P71" LEVEL 1;
COMP "red_o<1>" LOCATE = SITE "P72" LEVEL 1;
COMP "red_o<2>" LOCATE = SITE "P74" LEVEL 1;
COMP "green_o<0>" LOCATE = SITE "P75" LEVEL 1;
COMP "green_o<1>" LOCATE = SITE "P79" LEVEL 1;
COMP "green_o<2>" LOCATE = SITE "P80" LEVEL 1;
COMP "lrcout_o" LOCATE = SITE "P21" LEVEL 1;
COMP "v_sync_o" LOCATE = SITE "P88" LEVEL 1;
NET "clock_BUFGP/IBUFG" BEL "clock_BUFGP/BUFG.GCLKMUX" USELOCALCONNECT;
TIMEGRP clock = BEL "clk_enable/count_led_15" BEL "clk_enable/count_led_14"
        BEL "clk_enable/count_led_13" BEL "clk_enable/count_led_12" BEL
        "clk_enable/count_led_11" BEL "clk_enable/count_led_10" BEL
        "clk_enable/count_led_9" BEL "clk_enable/count_led_8" BEL
        "clk_enable/count_led_7" BEL "clk_enable/count_led_6" BEL
        "clk_enable/count_led_5" BEL "clk_enable/count_led_4" BEL
        "clk_enable/count_led_3" BEL "clk_enable/count_led_2" BEL
        "clk_enable/count_led_1" BEL "clk_enable/count_led_0" BEL
        "clk_enable/count_20" BEL "clk_enable/count_19" BEL
        "clk_enable/count_17" BEL "clk_enable/count_16" BEL
        "clk_enable/count_18" BEL "clk_enable/count_15" BEL
        "clk_enable/count_14" BEL "clk_enable/count_13" BEL
        "clk_enable/count_12" BEL "clk_enable/count_10" BEL
        "clk_enable/count_9" BEL "clk_enable/count_11" BEL
        "clk_enable/count_7" BEL "clk_enable/count_6" BEL "clk_enable/count_8"
        BEL "clk_enable/count_4" BEL "clk_enable/count_3" BEL
        "clk_enable/count_5" BEL "clk_enable/count_2" BEL "clk_enable/count_1"
        BEL "clk_enable/count_0" BEL "clk_enable/game_enable" BEL
        "clk_enable/led_enable_o" BEL "clk_enable/vga_enable" BEL
        "collision/state_FSM_FFd8" BEL "collision/state_FSM_FFd7" BEL
        "collision/state_FSM_FFd6" BEL "collision/state_FSM_FFd5" BEL
        "collision/state_FSM_FFd4" BEL "collision/state_FSM_FFd3" BEL
        "collision/state_FSM_FFd2" BEL "collision/state_FSM_FFd1" BEL
        "collision/hit_racket_l_o_1" BEL "collision/hit_racket_l_o_0" BEL
        "collision/hit_wall_o_2" BEL "collision/hit_wall_o_1" BEL
        "collision/hit_wall_o_0" BEL "collision/hit_racket_r_o_1" BEL
        "collision/hit_racket_r_o_0" BEL "visualization/Vcnt_9" BEL
        "visualization/Vcnt_8" BEL "visualization/Vcnt_7" BEL
        "visualization/Vcnt_6" BEL "visualization/Vcnt_5" BEL
        "visualization/Vcnt_4" BEL "visualization/Vcnt_3" BEL
        "visualization/Vcnt_2" BEL "visualization/Vcnt_1" BEL
        "visualization/Vcnt_0" BEL "visualization/Hcnt_9" BEL
        "visualization/Hcnt_8" BEL "visualization/Hcnt_7" BEL
        "visualization/Hcnt_6" BEL "visualization/Hcnt_5" BEL
        "visualization/Hcnt_4" BEL "visualization/Hcnt_3" BEL
        "visualization/Hcnt_2" BEL "visualization/Hcnt_1" BEL
        "visualization/Hcnt_0" BEL "visualization/v_sync_o" BEL
        "visualization/h_sync_o" BEL "motion/delta_x_2" BEL "motion/delta_x_0"
        BEL "motion/delta_x_1" BEL "motion/delta_x_3" BEL "motion/delta_x_4"
        BEL "motion/delta_x_7" BEL "motion/delta_x_5" BEL "motion/delta_x_6"
        BEL "motion/delta_x_8" BEL "motion/delta_x_9" BEL "motion/delta_y_2"
        BEL "motion/delta_y_0" BEL "motion/delta_y_1" BEL "motion/delta_y_3"
        BEL "motion/delta_y_4" BEL "motion/delta_y_7" BEL "motion/delta_y_5"
        BEL "motion/delta_y_6" BEL "motion/delta_y_8" BEL "motion/delta_y_9"
        BEL "motion/ball_x_2" BEL "motion/ball_x_0" BEL "motion/ball_x_1" BEL
        "motion/ball_x_3" BEL "motion/ball_x_4" BEL "motion/ball_x_7" BEL
        "motion/ball_x_5" BEL "motion/ball_x_6" BEL "motion/ball_x_8" BEL
        "motion/ball_x_9" BEL "motion/ball_y_2" BEL "motion/ball_y_0" BEL
        "motion/ball_y_1" BEL "motion/ball_y_3" BEL "motion/ball_y_4" BEL
        "motion/ball_y_7" BEL "motion/ball_y_5" BEL "motion/ball_y_6" BEL
        "motion/ball_y_8" BEL "motion/ball_y_9" BEL "motion/state_FSM_FFd6"
        BEL "motion/state_FSM_FFd5" BEL "motion/state_FSM_FFd7" BEL
        "motion/state_FSM_FFd4" BEL "motion/state_FSM_FFd3" BEL
        "motion/state_FSM_FFd2" BEL "motion/state_FSM_FFd1" BEL
        "motion/speed_9" BEL "motion/speed_8" BEL "motion/speed_7" BEL
        "motion/speed_6" BEL "motion/speed_5" BEL "motion/speed_4" BEL
        "motion/speed_3" BEL "motion/speed_2" BEL "motion/speed_1" BEL
        "motion/speed_0" BEL "motion/count_hits_1" BEL "motion/count_hits_0"
        BEL "motion/clearflag_right" BEL "motion/clearflag_left" BEL
        "motion/restart" BEL "motion/clearflag_wall" BEL "motion/add_y" BEL
        "motion/add_x" BEL "motion/tmp_hit_wall_2" BEL "motion/tmp_hit_wall_1"
        BEL "motion/tmp_hit_wall_0" BEL "motion/tmp_hit_racket_1" BEL
        "motion/tmp_hit_racket_0" BEL "motion/tmp_hit_racket_r_1" BEL
        "motion/tmp_hit_racket_r_0" BEL "motion/tmp_hit_racket_l_1" BEL
        "motion/tmp_hit_racket_l_0" BEL
        "controller_interface2/rot_enc_decoder_inst/cw_o" BEL
        "controller_interface2/rot_enc_decoder_inst/turning_o" BEL
        "controller_interface2/rot_enc_decoder_inst/state_FSM_FFd1" BEL
        "controller_interface2/rot_enc_decoder_inst/state_FSM_FFd2" BEL
        "controller_interface2/deb_rot_enc0/x_sync" BEL
        "controller_interface2/deb_rot_enc0/x_o" BEL
        "controller_interface2/deb_rot_enc0/count_0" BEL
        "controller_interface2/deb_rot_enc0/count_1" BEL
        "controller_interface2/deb_rot_enc0/count_2" BEL
        "controller_interface2/deb_rot_enc0/count_3" BEL
        "controller_interface2/deb_rot_enc0/count_4" BEL
        "controller_interface2/deb_rot_enc0/count_5" BEL
        "controller_interface2/deb_rot_enc0/count_6" BEL
        "controller_interface2/deb_rot_enc0/count_7" BEL
        "controller_interface2/deb_rot_enc0/count_8" BEL
        "controller_interface2/deb_rot_enc0/count_9" BEL
        "controller_interface2/deb_rot_enc0/count_10" BEL
        "controller_interface2/deb_rot_enc0/count_11" BEL
        "controller_interface2/deb_rot_enc0/count_12" BEL
        "controller_interface2/deb_rot_enc0/count_13" BEL
        "controller_interface2/deb_rot_enc0/count_14" BEL
        "controller_interface2/deb_rot_enc0/count_15" BEL
        "controller_interface2/deb_rot_enc0/count_16" BEL
        "controller_interface2/deb_rot_enc1/x_sync" BEL
        "controller_interface2/deb_rot_enc1/x_o" BEL
        "controller_interface2/deb_rot_enc1/count_0" BEL
        "controller_interface2/deb_rot_enc1/count_1" BEL
        "controller_interface2/deb_rot_enc1/count_2" BEL
        "controller_interface2/deb_rot_enc1/count_3" BEL
        "controller_interface2/deb_rot_enc1/count_4" BEL
        "controller_interface2/deb_rot_enc1/count_5" BEL
        "controller_interface2/deb_rot_enc1/count_6" BEL
        "controller_interface2/deb_rot_enc1/count_7" BEL
        "controller_interface2/deb_rot_enc1/count_8" BEL
        "controller_interface2/deb_rot_enc1/count_9" BEL
        "controller_interface2/deb_rot_enc1/count_10" BEL
        "controller_interface2/deb_rot_enc1/count_11" BEL
        "controller_interface2/deb_rot_enc1/count_12" BEL
        "controller_interface2/deb_rot_enc1/count_13" BEL
        "controller_interface2/deb_rot_enc1/count_14" BEL
        "controller_interface2/deb_rot_enc1/count_15" BEL
        "controller_interface2/deb_rot_enc1/count_16" BEL
        "controller_interface2/deb_push_but/x_sync" BEL
        "controller_interface2/deb_push_but/x_o" BEL
        "controller_interface2/deb_push_but/count_0" BEL
        "controller_interface2/deb_push_but/count_1" BEL
        "controller_interface2/deb_push_but/count_2" BEL
        "controller_interface2/deb_push_but/count_3" BEL
        "controller_interface2/deb_push_but/count_4" BEL
        "controller_interface2/deb_push_but/count_5" BEL
        "controller_interface2/deb_push_but/count_6" BEL
        "controller_interface2/deb_push_but/count_7" BEL
        "controller_interface2/deb_push_but/count_8" BEL
        "controller_interface2/deb_push_but/count_9" BEL
        "controller_interface2/deb_push_but/count_10" BEL
        "controller_interface2/deb_push_but/count_11" BEL
        "controller_interface2/deb_push_but/count_12" BEL
        "controller_interface2/deb_push_but/count_13" BEL
        "controller_interface2/deb_push_but/count_14" BEL
        "controller_interface2/deb_push_but/count_15" BEL
        "controller_interface2/deb_push_but/count_16" BEL
        "controller_interface2/cnt_2" BEL "controller_interface2/cnt_0" BEL
        "controller_interface2/cnt_1" BEL "controller_interface2/cnt_3" BEL
        "controller_interface2/cnt_4" BEL "controller_interface2/cnt_5" BEL
        "controller_interface2/cnt_6" BEL "controller_interface2/cnt_7" BEL
        "controller_interface2/cnt_8" BEL
        "controller_interface1/rot_enc_decoder_inst/cw_o" BEL
        "controller_interface1/rot_enc_decoder_inst/turning_o" BEL
        "controller_interface1/rot_enc_decoder_inst/state_FSM_FFd1" BEL
        "controller_interface1/rot_enc_decoder_inst/state_FSM_FFd2" BEL
        "controller_interface1/deb_rot_enc0/x_sync" BEL
        "controller_interface1/deb_rot_enc0/x_o" BEL
        "controller_interface1/deb_rot_enc0/count_0" BEL
        "controller_interface1/deb_rot_enc0/count_1" BEL
        "controller_interface1/deb_rot_enc0/count_2" BEL
        "controller_interface1/deb_rot_enc0/count_3" BEL
        "controller_interface1/deb_rot_enc0/count_4" BEL
        "controller_interface1/deb_rot_enc0/count_5" BEL
        "controller_interface1/deb_rot_enc0/count_6" BEL
        "controller_interface1/deb_rot_enc0/count_7" BEL
        "controller_interface1/deb_rot_enc0/count_8" BEL
        "controller_interface1/deb_rot_enc0/count_9" BEL
        "controller_interface1/deb_rot_enc0/count_10" BEL
        "controller_interface1/deb_rot_enc0/count_11" BEL
        "controller_interface1/deb_rot_enc0/count_12" BEL
        "controller_interface1/deb_rot_enc0/count_13" BEL
        "controller_interface1/deb_rot_enc0/count_14" BEL
        "controller_interface1/deb_rot_enc0/count_15" BEL
        "controller_interface1/deb_rot_enc0/count_16" BEL
        "controller_interface1/deb_rot_enc1/x_sync" BEL
        "controller_interface1/deb_rot_enc1/x_o" BEL
        "controller_interface1/deb_rot_enc1/count_0" BEL
        "controller_interface1/deb_rot_enc1/count_1" BEL
        "controller_interface1/deb_rot_enc1/count_2" BEL
        "controller_interface1/deb_rot_enc1/count_3" BEL
        "controller_interface1/deb_rot_enc1/count_4" BEL
        "controller_interface1/deb_rot_enc1/count_5" BEL
        "controller_interface1/deb_rot_enc1/count_6" BEL
        "controller_interface1/deb_rot_enc1/count_7" BEL
        "controller_interface1/deb_rot_enc1/count_8" BEL
        "controller_interface1/deb_rot_enc1/count_9" BEL
        "controller_interface1/deb_rot_enc1/count_10" BEL
        "controller_interface1/deb_rot_enc1/count_11" BEL
        "controller_interface1/deb_rot_enc1/count_12" BEL
        "controller_interface1/deb_rot_enc1/count_13" BEL
        "controller_interface1/deb_rot_enc1/count_14" BEL
        "controller_interface1/deb_rot_enc1/count_15" BEL
        "controller_interface1/deb_rot_enc1/count_16" BEL
        "controller_interface1/deb_push_but/x_sync" BEL
        "controller_interface1/deb_push_but/x_o" BEL
        "controller_interface1/deb_push_but/count_0" BEL
        "controller_interface1/deb_push_but/count_1" BEL
        "controller_interface1/deb_push_but/count_2" BEL
        "controller_interface1/deb_push_but/count_3" BEL
        "controller_interface1/deb_push_but/count_4" BEL
        "controller_interface1/deb_push_but/count_5" BEL
        "controller_interface1/deb_push_but/count_6" BEL
        "controller_interface1/deb_push_but/count_7" BEL
        "controller_interface1/deb_push_but/count_8" BEL
        "controller_interface1/deb_push_but/count_9" BEL
        "controller_interface1/deb_push_but/count_10" BEL
        "controller_interface1/deb_push_but/count_11" BEL
        "controller_interface1/deb_push_but/count_12" BEL
        "controller_interface1/deb_push_but/count_13" BEL
        "controller_interface1/deb_push_but/count_14" BEL
        "controller_interface1/deb_push_but/count_15" BEL
        "controller_interface1/deb_push_but/count_16" BEL
        "controller_interface1/cnt_2" BEL "controller_interface1/cnt_0" BEL
        "controller_interface1/cnt_1" BEL "controller_interface1/cnt_3" BEL
        "controller_interface1/cnt_4" BEL "controller_interface1/cnt_5" BEL
        "controller_interface1/cnt_6" BEL "controller_interface1/cnt_7" BEL
        "controller_interface1/cnt_8" BEL
        "score_display_inst/player1_bin_to_bcd_dec/binary_0" BEL
        "score_display_inst/player1_bin_to_bcd_dec/binary_1" BEL
        "score_display_inst/player1_bin_to_bcd_dec/binary_2" BEL
        "score_display_inst/player1_bin_to_bcd_dec/binary_3" BEL
        "score_display_inst/player1_bin_to_bcd_dec/state_0" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd0_o_0" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd0_o_1" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd0_o_2" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd0_o_3" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_o_0" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_o_1" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_o_2" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_o_3" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_0" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_1" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_2" BEL
        "score_display_inst/player1_bin_to_bcd_dec/bcd1_3" BEL
        "score_display_inst/player2_bin_to_bcd_dec/binary_0" BEL
        "score_display_inst/player2_bin_to_bcd_dec/binary_1" BEL
        "score_display_inst/player2_bin_to_bcd_dec/binary_2" BEL
        "score_display_inst/player2_bin_to_bcd_dec/binary_3" BEL
        "score_display_inst/player2_bin_to_bcd_dec/state_0" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd0_o_0" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd0_o_1" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd0_o_2" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd0_o_3" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_o_0" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_o_1" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_o_2" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_o_3" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_0" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_1" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_2" BEL
        "score_display_inst/player2_bin_to_bcd_dec/bcd1_3" BEL
        "score_display_inst/score_counter_inst/score_player2_0" BEL
        "score_display_inst/score_counter_inst/score_player2_1" BEL
        "score_display_inst/score_counter_inst/score_player2_2" BEL
        "score_display_inst/score_counter_inst/score_player2_3" BEL
        "score_display_inst/score_counter_inst/game_over" BEL
        "score_display_inst/score_counter_inst/score_player1_0" BEL
        "score_display_inst/score_counter_inst/score_player1_1" BEL
        "score_display_inst/score_counter_inst/score_player1_2" BEL
        "score_display_inst/score_counter_inst/score_player1_3" BEL
        "score_display_inst/score_counter_inst/game_over_o" BEL
        "score_display_inst/mux_cnt_1" BEL "score_display_inst/mux_cnt_0" BEL
        "score_display_inst/mux_bcd_3" BEL "score_display_inst/mux_bcd_2" BEL
        "score_display_inst/mux_bcd_1" BEL "score_display_inst/mux_bcd_0" BEL
        "score_display_inst/seven_seg_sel_o_5" BEL
        "score_display_inst/seven_seg_sel_o_4" BEL
        "score_display_inst/seven_seg_sel_o_1" BEL
        "score_display_inst/seven_seg_sel_o_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_1" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_2" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_3" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_4" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_5" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_6" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_7" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_8" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_9" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_10" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_11" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_12" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_13" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_14" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_1" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_2" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_3" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_4" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_5" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_6" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/phase_7" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_1" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_2" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_3" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_4" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_5" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_6" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_7" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_8" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_9" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_10" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_11" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_12" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_13" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_14" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_inv_delay_15" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_1" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_2" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_3" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_4" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_5" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_6" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_7" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_8" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_9" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_10" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_11" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_12" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_13" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/lut_out_delay_14" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/quadrant_3_or_4_delay" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/quadrant_3_or_4_2delay" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_0" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_1" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_2" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_3" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_4" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_5" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_6" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_7" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_8" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_9" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_10" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_11" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_12" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_13" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_14" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_15" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_16" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_17" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_18" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_19" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_20" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_21" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_22" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_23" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_24" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_25" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_26" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_27" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_28" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_29" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_30" BEL
        "sound/mp_hw_inst/dds_inst/dds_synth/ftw_accu_31" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_0" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_1" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_2" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_3" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_4" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_5" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_6" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_7" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_8" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_9" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_10" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_11" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_12" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_13" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_14" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_0" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_1" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_2" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_3" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_4" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_5" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_6" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/phase_7" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_0" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_1" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_2" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_3" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_4" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_5" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_6" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_7" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_8" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_9" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_10" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_11" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_12" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_13" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_14" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_inv_delay_15" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_0" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_1" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_2" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_3" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_4" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_5" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_6" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_7" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_8" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_9" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_10" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_11" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_12" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_13" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/lut_out_delay_14" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/quadrant_3_or_4_delay" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/quadrant_3_or_4_2delay" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_0" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_1" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_2" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_3" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_4" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_5" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_6" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_7" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_8" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_9" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_10" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_11" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_12" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_13" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_14" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_15" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_16" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_17" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_18" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_19" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_20" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_21" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_22" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_23" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_24" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_25" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_26" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_27" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_28" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_29" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_30" BEL
        "sound/mp_hr_inst/dds_inst/dds_synth/ftw_accu_31" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_0" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_1" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_2" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_3" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_4" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_5" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_6" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_7" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_8" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_9" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_10" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_11" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_12" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_13" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_14" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_0" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_1" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_2" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_3" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_4" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_5" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_6" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/phase_7" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_0" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_1" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_2" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_3" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_4" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_5" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_6" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_7" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_8" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_9" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_10" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_11" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_12" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_13" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_14" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_inv_delay_15" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_0" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_1" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_2" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_3" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_4" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_5" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_6" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_7" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_8" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_9" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_10" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_11" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_12" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_13" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/lut_out_delay_14" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/quadrant_3_or_4_delay" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/quadrant_3_or_4_2delay" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_0" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_1" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_2" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_3" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_4" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_5" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_6" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_7" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_8" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_9" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_10" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_11" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_12" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_13" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_14" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_15" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_16" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_17" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_18" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_19" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_20" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_21" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_22" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_23" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_24" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_25" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_26" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_27" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_28" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_29" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_30" BEL
        "sound/mp_ho_inst/dds_inst/dds_synth/ftw_accu_31" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_0" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_1" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_2" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_3" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_4" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_5" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_6" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_7" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_8" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_9" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_10" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_11" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_12" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_13" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_14" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_0" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_1" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_2" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_3" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_4" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_5" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_6" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/phase_7" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_0" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_1" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_2" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_3" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_4" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_5" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_6" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_7" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_8" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_9" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_10" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_11" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_12" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_13" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_14" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_inv_delay_15" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_0" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_1" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_2" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_3" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_4" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_5" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_6" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_7" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_8" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_9" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_10" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_11" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_12" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_13" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/lut_out_delay_14" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/quadrant_3_or_4_delay" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/quadrant_3_or_4_2delay" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_0" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_1" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_2" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_3" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_4" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_5" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_6" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_7" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_8" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_9" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_10" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_11" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_12" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_13" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_14" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_15" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_16" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_17" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_18" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_19" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_20" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_21" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_22" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_23" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_24" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_25" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_26" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_27" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_28" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_29" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_30" BEL
        "sound/mp_bg_inst/dds_inst/dds_synth/ftw_accu_31" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_0" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_1" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_2" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_3" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_4" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_5" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_6" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_7" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_8" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_9" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_10" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_11" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_12" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_13" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_14" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_0" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_1" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_2" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_3" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_4" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_5" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_6" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/phase_7" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_0" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_1" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_2" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_3" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_4" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_5" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_6" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_7" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_8" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_9" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_10" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_11" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_12" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_13" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_14" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_inv_delay_15" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_0" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_1" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_2" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_3" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_4" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_5" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_6" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_7" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_8" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_9" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_10" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_11" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_12" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_13" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/lut_out_delay_14" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/quadrant_3_or_4_delay" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/quadrant_3_or_4_2delay" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_0" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_1" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_2" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_3" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_4" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_5" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_6" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_7" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_8" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_9" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_10" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_11" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_12" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_13" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_14" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_15" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_16" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_17" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_18" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_19" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_20" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_21" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_22" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_23" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_24" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_25" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_26" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_27" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_28" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_29" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_30" BEL
        "sound/mp_go_inst/dds_inst/dds_synth/ftw_accu_31" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_0" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_1" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_2" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_3" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_4" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_5" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_6" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_7" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_8" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_9" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_10" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_11" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_12" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_13" BEL
        "sound/da_mmc_inst/dac_interface/audio_r_tmp_14" BEL
        "sound/da_mmc_inst/dac_interface/bit_cnt_0" BEL
        "sound/da_mmc_inst/dac_interface/bit_cnt_1" BEL
        "sound/da_mmc_inst/dac_interface/bit_cnt_2" BEL
        "sound/da_mmc_inst/dac_interface/bit_cnt_3" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_0" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_1" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_2" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_3" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_4" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_5" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_6" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_7" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_8" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_9" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_10" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_11" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_12" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_13" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_14" BEL
        "sound/da_mmc_inst/dac_interface/audio_shift_15" BEL
        "sound/da_mmc_inst/cntrl_int/freq_count_0" BEL
        "sound/da_mmc_inst/cntrl_int/freq_count_1" BEL
        "sound/da_mmc_inst/cntrl_int/sclk_tmp" BEL
        "sound/da_mmc_inst/cntrl_int/ncs_o" BEL
        "sound/da_mmc_inst/cntrl_int/state_0" BEL
        "sound/da_mmc_inst/cntrl_int/busy_o" BEL
        "sound/da_mmc_inst/cntrl_int/cscount_0" BEL
        "sound/da_mmc_inst/cntrl_int/cscount_1" BEL
        "sound/da_mmc_inst/cntrl_int/cscount_2" BEL
        "sound/da_mmc_inst/cntrl_int/cscount_3" BEL
        "sound/da_mmc_inst/mmcodec_initial/count_0" BEL
        "sound/da_mmc_inst/mmcodec_initial/count_1" BEL
        "sound/da_mmc_inst/mmcodec_initial/count_2" BEL
        "sound/da_mmc_inst/mmcodec_initial/count_3" BEL
        "sound/da_mmc_inst/mmcodec_initial/enable_o" BEL
        "sound/da_mmc_inst/mmcodec_initial/state_FSM_FFd1" BEL
        "sound/da_mmc_inst/mmcodec_initial/state_FSM_FFd2" BEL
        "sound/acg_inst/mclk_gen/count_0" BEL
        "sound/acg_inst/note_clk_gen/count_21" BEL
        "sound/acg_inst/note_clk_gen/count_20" BEL
        "sound/acg_inst/note_clk_gen/count_19" BEL
        "sound/acg_inst/note_clk_gen/count_18" BEL
        "sound/acg_inst/note_clk_gen/count_17" BEL
        "sound/acg_inst/note_clk_gen/count_16" BEL
        "sound/acg_inst/note_clk_gen/count_15" BEL
        "sound/acg_inst/note_clk_gen/count_14" BEL
        "sound/acg_inst/note_clk_gen/count_13" BEL
        "sound/acg_inst/note_clk_gen/count_12" BEL
        "sound/acg_inst/note_clk_gen/count_11" BEL
        "sound/acg_inst/note_clk_gen/count_10" BEL
        "sound/acg_inst/note_clk_gen/count_9" BEL
        "sound/acg_inst/note_clk_gen/count_8" BEL
        "sound/acg_inst/note_clk_gen/count_7" BEL
        "sound/acg_inst/note_clk_gen/count_6" BEL
        "sound/acg_inst/note_clk_gen/count_5" BEL
        "sound/acg_inst/note_clk_gen/count_4" BEL
        "sound/acg_inst/note_clk_gen/count_3" BEL
        "sound/acg_inst/note_clk_gen/count_2" BEL
        "sound/acg_inst/note_clk_gen/count_1" BEL
        "sound/acg_inst/note_clk_gen/count_0" BEL
        "sound/acg_inst/lrcout_gen/count_9" BEL
        "sound/acg_inst/lrcout_gen/count_8" BEL
        "sound/acg_inst/lrcout_gen/count_7" BEL
        "sound/acg_inst/lrcout_gen/count_6" BEL
        "sound/acg_inst/lrcout_gen/count_5" BEL
        "sound/acg_inst/lrcout_gen/count_4" BEL
        "sound/acg_inst/lrcout_gen/count_3" BEL
        "sound/acg_inst/lrcout_gen/count_2" BEL
        "sound/acg_inst/lrcout_gen/count_1" BEL
        "sound/acg_inst/lrcout_gen/count_0" BEL
        "sound/acg_inst/bclk_gen/count_4" BEL
        "sound/acg_inst/bclk_gen/count_3" BEL
        "sound/acg_inst/bclk_gen/count_2" BEL
        "sound/acg_inst/bclk_gen/count_1" BEL
        "sound/acg_inst/bclk_gen/count_0" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_15" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_14" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_13" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_12" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_11" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_10" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_9" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_8" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_7" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_6" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_5" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_4" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_3" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_2" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_1" BEL
        "sound/mp_go_inst/vc_inst/tmp_ampl_0" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_15" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_14" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_13" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_12" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_11" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_10" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_9" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_8" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_7" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_6" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_5" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_4" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_3" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_2" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_1" BEL
        "sound/mp_bg_inst/vc_inst/tmp_ampl_0" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_15" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_14" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_13" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_12" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_11" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_10" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_9" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_8" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_7" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_6" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_5" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_4" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_3" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_2" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_1" BEL
        "sound/mp_ho_inst/vc_inst/tmp_ampl_0" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_15" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_14" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_13" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_12" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_11" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_10" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_9" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_8" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_7" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_6" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_5" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_4" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_3" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_2" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_1" BEL
        "sound/mp_hr_inst/vc_inst/tmp_ampl_0" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_15" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_14" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_13" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_12" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_11" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_10" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_9" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_8" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_7" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_6" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_5" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_4" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_3" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_2" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_1" BEL
        "sound/mp_hw_inst/vc_inst/tmp_ampl_0" BEL
        "sound/acg_inst/mclk_gen/new_clk_tmp" BEL
        "sound/acg_inst/bclk_gen/new_clk_tmp" BEL
        "sound/acg_inst/bclk_gen/clk_enable" BEL
        "sound/acg_inst/lrcout_gen/new_clk_tmp" BEL
        "sound/acg_inst/lrcout_gen/clk_enable" BEL
        "sound/acg_inst/note_clk_gen/new_clk_tmp" BEL "sound/play_bg" BEL
        "sound/play_hw" BEL "sound/play_hr" BEL "sound/play_ho" BEL
        "sound/play_go" BEL "motion/ball_y_4_1" BEL "motion/ball_y_1_1" BEL
        "motion/ball_y_0_1" BEL "motion/ball_y_2_1" BEL "motion/ball_y_3_1"
        BEL "motion/ball_y_6_1" BEL "motion/ball_y_1_2" BEL
        "clock_BUFGP/BUFG.GCLKMUX" BEL "clock_BUFGP/BUFG";
TS_clock = PERIOD TIMEGRP "clock" 20 ns HIGH 50%;
SCHEMATIC END;

