# EVBfpga MMfpga02 PROPOX www.propox.com
#clock 50MHz
NET "clock" LOC = "P38";
NET "reset" LOC = "P4";

#VGA
NET "V_SYNC_o"		 LOC = "P88";
NET "H_SYNC_o"		 LOC = "P87";
NET "BLUE_o<2>"   LOC = "P86";
NET "BLUE_o<1>"   LOC = "P85";
NET "BLUE_o<0>"   LOC = "P81";
NET "GREEN_o<2>"  LOC = "P80";
NET "GREEN_o<1>"  LOC = "P79";
NET "GREEN_o<0>"  LOC = "P75";
NET "RED_o<2>"    LOC = "P74";
NET "RED_o<1>"    LOC = "P72";
NET "RED_o<0>"    LOC = "P71";

# MMCodec01 to J13 (ohne Adapter-Platine)

#NET "ncs_o" LOC = "P17";
#NET "sdout_o" LOC = "P27";
#NET "dout_o" LOC = "P30";
#NET "din_i" LOC = "P36";
#NET "mck_o" LOC = "P16";
#NET "mode_o" LOC = "P21";
#NET "sclk_o" LOC = "P28";
#NET "bclk_o" LOC = "P32";
#NET "lrcout_o" LOC = "P35";

# MMCodec01 Adapter-Platine

NET "lrcout_o" 		LOC = "P21"; # new pins of MMCodec01
NET "bclk_o" 		LOC = "P35";
NET "sclk_o" 		LOC = "P30";
NET "din_i" 		LOC = "P37";
NET "dout_o" 		LOC = "P23";
NET "sdout_o" 	   	LOC = "P17";
NET "ncs_o" 		LOC = "P27";
NET "mck_o" 		LOC = "P28";
NET "mode_o" 		LOC = "P32";


#DAC to J13
#NET "dac_o<0>" LOC	= "P21";	  # A8 P50
#NET "dac_o<1>" LOC	= "P16";	  # A7 P54
#NET "dac_o<2>" LOC	= "P14";	  # A6 P59
#NET "dac_o<3>" LOC	= "P12";	  # A5 P61
#NET "dac_o<4>" LOC	= "P27";	  # A4 P49 (P22)
#NET "dac_o<5>" LOC	= "P34";	  # A3 P43 (P30)
#NET "dac_o<6>" LOC	= "P17";	  # A2 P53
#NET "dac_o<7>" LOC	= "P37";	  # A1 P39 (P35)

#rotary encoder connected to J11:
NET push_button1_i LOC = "P89"; #J1_5
NET rot_enc1_i<0> LOC = "P91"; #J1_7, Terminal A
NET rot_enc1_i<1> LOC = "P90"; #J1_6, Terminal B
NET push_button2_i LOC ="P92"; #J1_8
NET rot_enc2_i<0> LOC = "P97"; #J1_10
NET rot_enc2_i<1> LOC = "P2"; #J1_12

# Seven Segment Display to J14
NET "nseven_seg_leds_o<0>" LOC	= "P43";	  # J2_33, g
NET "nseven_seg_leds_o<1>" LOC	= "P44";	  # J2_32, f
NET "nseven_seg_leds_o<2>" LOC	= "P47";	  # J2_31, e
NET "nseven_seg_leds_o<3>" LOC	= "P48";	  # J2_30, d
NET "nseven_seg_leds_o<4>" LOC	= "P49";	  # J2_29, c
NET "nseven_seg_leds_o<5>" LOC	= "P50";	  # J2_28, b
NET "nseven_seg_leds_o<6>" LOC	= "P53";	  # J2_27, a
NET "nseven_seg_sel_o<0>" LOC	= "P54";	  # J2_26, rechtes display
NET "nseven_seg_sel_o<1>" LOC	= "P55";	  # J2_25
NET "nseven_seg_sel_o<2>" LOC	= "P59";	  # J2_24
NET "nseven_seg_sel_o<3>" LOC	= "P60";	  # J2_23
NET "nseven_seg_sel_o<4>" LOC	= "P61";	  # J2_22
NET "nseven_seg_sel_o<5>" LOC	= "P62";	  # J2_21, linkes display

#LEDs - active low
#NET "nLED_o<7>" LOC = "P11";
#NET "nLED_o<6>" LOC = "P12";
#NET "nLED_o<5>" LOC = "P13";
#NET "nLED_o<4>" LOC = "P14";
#NET "nLED_o<3>" LOC = "P16";
#NET "nLED_o<2>" LOC = "P17";
#NET "nLED_o<1>" LOC = "P21";
#NET "push_button1_i" LOC = "P23"; #NET "nLED_o<0>" LOC = "P23";

#Dip-Switches - active low
#NET "SW_i<0>" LOC = "P89";
#NET "SW_i<1>" LOC = "P90";
#NET "SW_i<2>" LOC = "P91";
#NET "SW_i<3>" LOC = "P92";
#NET "SW_i<4>" LOC = "P96";
#NET "SW_i<5>" LOC = "P97";
#NET "SW_i<6>" LOC = "P1";
#NET "SW_i<7>" LOC = "P2"; 

#Switches - active low
#NET "nSW<1>" LOC	= "P4";
#NET "nSW<0>" LOC	= "P5";

NET "clock" TNM_NET = clock;
TIMESPEC TS_clock = PERIOD "clock" 20 ns HIGH 50%;
